<ion-view view-title="News" cache-view="false" hide-back-button="true" nav-bar-class="bar-positive">
        <ion-tabs class="tabs-positive tabs-icon-top tabs-striped">

            <ion-tab title="Announcements" icon="ion-android-notifications">
                <ion-content>swag</ion-content>
            </ion-tab>

            <ion-tab title="Newsletter" icon="ion-ios-paper">
                <ion-content><div ng-bind-html="test"></div></ion-content>
            </ion-tab>

        </ion-tabs>
</ion-view>
