<ion-view view-title="Search" >

    <ion-content padding="true" class="bg-poly">


        <ion-refresher pulling-text="Pull to refresh"
                       on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
            <div class="list card" ng-repeat="day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday']">
                <div href="#" class="item light no-padding" style="background-image: url(img/test.jpg)">
                    <div class="fill" style="background-color: rgba(0,0,0,0.4)">
                        <span class="text-large text-light"><i class="icon ion-videocamera"></i> {{day}} Show</span>
                        <span class="item-note stable text-light">
                            <i class="icon ion-android-time"></i> 09/30/2015
                        </span>
                    </div>
                </div>
                <a class="item" href="#">
                    <span class="dark"><i class="icon ion-play"></i> Watch</span>
                    <span class="item-note">
                        <i class="icon ion-eye"></i> 420 Views
                    </span>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
