
.no-padding {
    padding: 0 !important;
}

.padding-small {
    padding: 0.7em !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin {
    margin-bottom: 0 !important;
}

.item {
    background-size: cover !important;
    background-position: center !important;
}

.fill {
    padding: 2em 1em 2em 1em;
}

.text-small {
    font-size: 0.6em;
}

.text-large {
    font-size: 1.2em;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-huge {
    font-size: 2.2em;
}

.text-light {
    font-weight: 300;
}

.card {
    box-shadow: none !important;
    border-bottom: 2px solid #BBB !important;
    border-radius: 3px;
    
}

.float-right {
    float: right;
    display:inline;
}

.float-left {
    float: left;
    display:inline;
}

.item.wrap, .item-content.wrap {
    white-space: normal;
}

.bar-header.expanded {
    min-height:160px;
    background-size: cover;
    background-position:center;
    background-image: url(../img/cb.jpg);
    box-shadow: rgba(0,0,0,0.4) 0 2px 10px;
    border: none;
}

.has-expanded-header {
    top:160px !important;
}

.borderless {
    border: none !important
}

.icon.menu-icon{
    font-size:1.8em !important;
}

.item.menu-item {

}

.bar-header.expanded .item.avatar {
    padding: 0;
    margin: 0;
    border: none;
    top:14px;
    left:16px;
    height:60px;
    width:60px;
    border-radius:100%;
    box-shadow: #BDBDBD 2px 2px;
}

.bar-header.expanded .headerText {
    bottom:14px;
    left:16px;
    right:16px;
    position:absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight:500;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
    text-align: end;
}

.bar-header.expanded .headerText span {
    font-size:1.4em;
    letter-spacing: 0.1em;
    font-weight:300;
    line-height:1.3em;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom:0.2em;
    display:block;
    text-transform: uppercase;
}

.bg {
    background-size: cover;
    background-position: center;
}

.bg.bg-poly {
    background-image: url(../img/polybg.jpg);
}

.bg.bg-dark {
    background-image: url(../img/darkbg.jpg);
}

.bg.bg-cb {
    background-image: url(../img/cb.jpg);
}

.bg.bg-cb2 {
    background-image: url(../img/cb2.jpg);
}

.bg.bg-mon {
    background-image: url(../img/mon.jpg);
}

.bg.bg-tue {
    background-image: url(../img/tue.jpg);
}

.bg.bg-wed {
    background-image: url(../img/wed.jpg);
}

.bg.bg-thu {
    background-image: url(../img/thu.jpg);
}

.bg.bg-fri {
    background-image: url(../img/fri.jpg);
}



.bg-transparent {
    background-color:transparent;
}

.item.calendar-date {
    width: 1.5em;
    height:1.5em;
    left: 0.25em;
    border-radius:100%;
        box-shadow: #BDBDBD 1px 1px;
        padding-left: 0 !important;
        padding-right:0 !important;
}

.bar-header {
   height: 56px; /*just an example*/
}

.bar-header .left-buttons {
    padding:8px 12px 8px 12px;
}

.bar-header .button:before {
    font-size:24px !important;
    line-height:30px !important;
}

.bar-header .title {
   line-height: 56px !important;
  /*left: 56px !important;*/
}

.has-header {
   top: 56px;
}

.view-container{
    top: 0;
}

@media (min-width: 680px) {
    .modal {
        top: 0px !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
    }

    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
        margin-top: 20px;
    }

    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
        height: 64px;
    }

    .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
        top: 64px;
    }
}