/* Empty. Add your own CSS if you like */
.no-padding {
    padding: 0px !important;
}

.item {
   background-size: cover !important;
   background-position: center !important;
}

.bg-poly {
    background: url(../img/polybg.jpg);
}

.fill {

    padding: 1.8em 1em 1.8em 1em;
}

.text-small {

    font-size: 0.6em;

}

.text-large {
    font-size:1.2em;
}

.text-light {
    font-weight:300;
}